.header {
  background: #333333;
  position: fixed;
  height: 50px;
  width: 100%;
  box-shadow: 2px 2px 2px #ccc;
  display: flex;
  flex-direction: column;
  z-index: 999;
}
.header ul {
  background: #333333;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  height: 100%;
  width: 250px;
  top: 50px;
  left: -200px;
  align-items: center;
  /* box-shadow: 2px 2px 2px #ccc; */
  transition: 300ms ease all;
}
.header ul.active {
  left: 0px;
}
.header ul.active .arrowImg {
  transform: rotate(180deg);
}
.header ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.header ul li.active {
  background: #999999;
}
.header ul li img {
  margin-right: 5px;
  font-size: 20px;
}
.header ul a {
  color: #ffffff;
  text-decoration: none;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.sideBarItemText {
  display: flex;
  flex: 1;
  padding: 6px;
  padding-left: 15px;
}
.sideBarItemIconA {
  flex: 0 !important;
}
.sideBarItemArrowIcon {
  font-size: 18px;
  margin-top: 3px;
  margin-left: 5px;
}
.sideBarItemIcon {
  color: #ffffff;
  font-size: 20px;
  padding: 8px 15px !important;
}
.sideBarItemIconSpcl {
  flex: 0;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 15px !important;
  border-left: 1px solid #999;
}
.sideBarItemIconSpcl:hover {
  color: #0286be;
  background-color: #000000;
  font-size: 20px;
  padding: 8px 15px !important;
  border-left: 1px solid #999;
}
.borderItem {
  border: 1px solid #999;
  border-left: 0px;
  border-right: 0px;
}
.logoContainer {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  position: fixed;
  left: 5px;
  top: 7px;
  font-size: 24px;
}
.logoContainer:hover {
  text-decoration: none;
  color: #ffffff;
}
.profileContainer {
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  font-size: 14px;
  margin: 10px;
  padding: 0.3rem 1rem;
}
.profileContainer:hover {
  text-decoration: none;
  color: #ffffff;
}
.menuContainer {
  display: flex;
  position: absolute;
  right: 10px;
  height: 50px;
}
.menuItem {
  background-color: #0286be;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px 10px;
  font-size: 14px;
  padding: 0.3rem 1rem;
}
.menuItem:hover {
  text-decoration: none;
  color: #ffffff;
}
.menuItem:active {
  background-color: rgba(91, 204, 254, 0.9);
  text-decoration: none;
  color: #ffffff;
}
.logoContainer_mb,
.profileContainer_mb {
  display: none !important;
}
.logoImg {
  margin-right: 5px;
  margin-top: 3;
  margin-right: 10;
}
.barAvatarImg {
  margin-right: 5px;
  margin-top: 3;
  margin-right: 10;
  border-radius: 50%;
}
.arrowContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  position: fixed;
  left: 10px;
  bottom: 5px;
  transform: rotate(180deg);
}
@media only screen and (max-width: 767px) {
  .header ul {
    left: -250px;
  }
  .logoContainer,
  .arrowContainer,
  .profileContainer {
    display: none;
  }
  .logoContainer_mb {
    display: flex !important;
    align-items: center;
    cursor: pointer;
    position: fixed;
    margin-left: 10px;
    top: 10px;
    font-size: 24px;
  }
  .profileContainer_mb {
    display: block !important;
  }
}
