.main_container {
  display: flex;
  margin-left: 50px;
}
.main_container.active {
  margin-left: 250px;
}

@media only screen and (max-width: 767px) {
  .main_container {
    margin-left: 0px;
  }
}
