.main_container {
  display: flex;
  margin-left: 50px;
  padding-top: 50px;
  transition: 300ms ease all;
}
.main_container.active {
  margin-left: 250px;
}
.main_container.user_not_found {
  margin-left: 0px;
}
@media only screen and (max-width: 767px) {
  .main_container {
    margin-left: 0px;
  }
  .main_container.active {
    margin-left: 0px;
  }
}
.swiper-button-prev,
.swiper-button-next {
  color: #0286be !important;
}
.box {
  width: 33rem;
}
.header-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #dee2e6;
}
.header-title {
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .header-title {
    line-height: 1;
    font-size: 1rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 480px) {
  .header-title {
    line-height: 0.5;
    font-size: 0.7rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 1022px) {
  .box {
    max-width: 33rem;
  }
}
@media only screen and (max-width: 767px) {
  .box {
    max-width: 33rem;
  }
}
@media only screen and (max-width: 540px) {
  .box {
    max-width: 26rem;
  }
}
@media only screen and (max-width: 480px) {
  .box {
    max-width: 20rem;
  }
}
@media only screen and (max-width: 320px) {
  .box {
    max-width: 18rem;
  }
}
@media only screen and (max-width: 280px) {
  .box {
    max-width: 15rem;
  }
}
