.footer {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 9999;
}
.footer_mb{
  display:none !important;
}
.sidebar-footer-section{
  display:flex;
  flex:1;
  width:100%;
  flex-direction: column;
}
.middle-sidebar{
  flex:0.8;
  width:100%;
}
.footer-position{
  width:100%;
  font-size: 12px;
}
/* .footer_mb:hover {
  color: #0286BE;
  text-decoration: none;
} */
@media only screen and (max-width: 767px) {
  .text-right {
    display: none;
  }
  .footer_mb{
  display: block !important;
  }
}

.ft-link {
  color: rgba(2, 134, 190, 1);
  font-size: 16px;
  padding: 10px 20px;
}
.ft-link:hover {
  text-decoration: none;
  color: rgba(2, 134, 190, 0.7);
}
